<div class="password-container">
    <form #resetForm="ngForm" class="my-form-password">
        <div class="login-welcome-row">
            <h1>Verify your email</h1>
        </div>
        <div class="devider-password">
            <span class="devider-line"></span>
            <div class="devider-text">Forget Password</div>
            <span class="devider-line"></span>
        </div>
        <div class="text-feild">
            <label for="email">Write Your Verification Email:
                <input id="email"  [(ngModel)]="Email" #email="ngModel" class="input-text js-input" type="email" 
                required [ngModelOptions]="{standalone: true}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            </label>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div  *ngIf="email.errors && email.errors['required']">
                  This field is required
                </div>
                <div *ngIf="email.errors && email.errors['pattern']">
                  invalid email
                </div>
             </div>
        </div>
            <div class="my-form_signup">
                <a (click)="send()" title="Login">
                    Send Mail
                </a>
            </div>
        <br>
    </form>
</div>
