<nav>
    <div class="logo-nav">
        <img src="../../assets/logo-bg.png">
    </div>
    <div class="nav-links">
        <ul>
            <li>
                <a href="#">Link 1</a>
            </li>
            <li>
                <a href="#">Link 1</a>
            </li>
            <li>
                <a href="#">Link 1</a>
            </li>
            <li>
                <a href="#">Link 1</a>
            </li>
        </ul>
        <a href="login"><button class="bn-32 bn32">Login</button></a>
    </div>
</nav>