<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{user.img}}" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"  (change)="onFileSelected($event)"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{user.name}}
                            </h5>
                            <h6>
                                {{user.role.nameRole}}
                            </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./']" fragment="home" (click)="switchTab('home')" role="tab" [class.active]="activeTab === 'home'">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['./']" fragment="profile" (click)="switchTab('profile')" role="tab" [class.active]="activeTab === 'profile'">Manager</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a [routerLink]="'update/'+user.idUtilisateur" class="bn13">Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"[class.show]="activeTab === 'home'">
                        <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.adress}}</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade show active elevate" id="profile" role="tabpanel" aria-labelledby="profile-tab" [class.show]="activeTab === 'profile'">
                        <div class="row">
                                    <div class="col-md-6">
                                        <label>Manager's Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager.nameRes}} {{manager.lastNameRes}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Manager's Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager.emailRes}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Manager's Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager.numberRes}}</p>
                                    </div>
                                </div>                                
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>