<div class="form-wrapper">
    <form [formGroup]="registerForm" class="my-form">
        <div class="row">
            <div class="login-welcome-row">
                <h1>Create Your Acount</h1>
            </div>
            <div class="text-feild col-lg-6">
                <label for="name">Name:
                    <input type="text" formControlName="name" id="name" name="name" autocomplete="off" placeholder="Your Name" required required maxlength="20" pattern="[a-zA-Z]+"/>
                </label>
                <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.errors['required']">
                      <small>This field is required</small>
                    </div>
                    <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.errors['pattern']">
                      <small>Name must be alphabetical</small>
                    </div>
                  </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="last_name">Last Name:
                    <input type="text" formControlName="lastName" id="last_name" name="last_name" autocomplete="off" placeholder="Your Last Name"  maxlength="20" pattern="[a-zA-Z ]+" required/>
                </label>
                <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.errors['required']">
                      <small>This field is required</small>
                    </div>
                    <div *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.errors['pattern']">
                      <small>Name must be alphabetical</small>
                    </div>
                  </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="email">Email:
                    <input type="email" formControlName="email" id="email" name="email" autocomplete="off" placeholder="Your Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required/>
                </label>
                <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors['required']">
                      <small>This field is required</small>
                    </div>
                    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors['pattern']">
                      <small>invalid email</small>
                    </div>
                  </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="number">Number:
                    <input type="number" formControlName="number" id="number" name="number" autocomplete="off" placeholder="Your Number" maxlength="8" required pattern="\d+"/>
                </label>
                <div *ngIf="registerForm.get('number')?.invalid && (registerForm.get('number')?.dirty || registerForm.get('number')?.touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('number')?.errors && registerForm.get('number')?.errors['required']">
                      <small>This field is required</small>
                    </div>
                    <div *ngIf="registerForm.get('number')?.errors && registerForm.get('number')?.errors['pattern']">
                      <small>invalid number</small>
                    </div>
                  </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="dob">Date Of Birth:
                    <input type="date" formControlName="dob" id="dob" name="dob" autocomplete="off"  required/>
                </label>
                <div  *ngIf="registerForm.get('dob')?.errors && registerForm.get('dob')?.errors['required']">
                    <small>This field is required</small>
                </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="adress">Address:
                    <input type="text" formControlName="adress" id="adress" name="adress" autocomplete="off"  required/>
                </label>
                <div  *ngIf="registerForm.get('adress')?.errors && registerForm.get('adres')?.errors['required']">
                    <small>This field is required</small>
                </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="password">Password:
                    <input type="password" formControlName="mdp" id="password" name="password"  placeholder="Your Password" 
                    minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" required/>
                </label>
                <div *ngIf="registerForm.get('mdp').invalid && (registerForm.get('mdp').dirty || registerForm.get('mdp').touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('mdp').errors && registerForm.get('mdp').errors['mdp']">
                      This field is required
                    </div>
                    <div *ngIf="registerForm.get('mdp').errors && registerForm.get('mdp').errors['pattern']">
                       <small>at least 1 uppercase and 1 Number</small>          
                     </div>
                    <div *ngIf="registerForm.get('mdp').errors && registerForm.get('mdp').errors['minlength']">
                       <small>at least 8 characters</small>  
                     </div>
                 </div>
            </div>
            <div class="text-feild col-lg-6">
                <label for="confirm-password">Repeat Password:
                    <input type="password" formControlName="confirmmdp" id="confirm-password" name="confirm-password"  placeholder="Repeat Your Password" 
                    minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" required/>
                </label>
                <div *ngIf="registerForm.get('confirmmdp').invalid && (registerForm.get('confirmmdp').dirty || registerForm.get('confirmmdp').touched)" class="text-danger">
                    <div  *ngIf="registerForm.get('confirmmdp').errors && registerForm.get('confirmmdp').errors['required']">
                      This field is required
                    </div>
                    <div *ngIf="registerForm.get('confirmmdp').errors && registerForm.get('confirmmdp').errors['pattern']">
                       <small>at least 1 uppercase and 1 Number</small>          
                     </div>
                    <div *ngIf="registerForm.get('confirmmdp').errors && registerForm.get('confirmmdp').errors['minlength']">
                       <small>at least 8 characters</small>  
                     </div>
                 </div>
            </div>
            <div class="text-feild col-lg-12">
                <label class="label" for="img">Upload Image:
                    <input type="file"  class="form-control form-control-lg" formControlName="img" id="img" name="img" (change)="onFileSelected($event)"  placeholder="Upload Your Image"  required/>
                </label>
                <div  *ngIf="registerForm.get('img')?.errors && registerForm.get('img')?.errors['required']">
                    <small>This field is required</small>
                </div>
            </div>
            <a href="/"><button type="submit" (click)="register()" class="bn632-hover bn20">Sign Up</button></a>
            <div class="my-form_actions">
                <div class="my-form_signup">
                    <a [routerLink]="['/login']" title="Login">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </form>    
    <div class="info-side">
        <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg"/>
    </div>
</div>