<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="dash-container">
    <div class="title">
        <h1>View Analyses</h1>
    </div>
    <div class="col-md-11">
        <div class="profile-head">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['./']" fragment="global" (click)="switchTab('global')" role="tab" [class.active]="activeTab === 'global'">Global Analyses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['./']" fragment="user" (click)="switchTab('user')" role="tab" [class.active]="activeTab === 'user'">User Behaviour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['./']" fragment="demo" (click)="switchTab('demo')" role="tab" [class.active]="activeTab === 'demo'">Demographics</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="tab-content profile-tab" id="myTabContent">
                <div *ngIf="activeTab === 'global'" class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global">
<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
       <div class="col">
		 <div class="card radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="mb-0 text-secondary">Total Orders</p>
						<h4 class="my-1 text-info">{{count}}</h4>
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
					</div>
				</div>
			</div>
		 </div>
	   </div>
	   <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-danger">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Total Revenue</p>
					   <h4 class="my-1 text-danger">{{total}} DT</h4>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-success">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Bounce Rate</p>
					   <h4 class="my-1 text-success">{{bounce.metricValue | number: '1.2-2'}} %</h4>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-warning">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Total Customers</p>
					   <h4 class="my-1 text-warning">{{analytics.metricValue}}</h4>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div> 
      <div>
        <h5>Number Of Users Per Role</h5>
        <br>
        <div>
            <canvas id="doughnutChart"></canvas>
          </div>
      </div>
      <div>
        <h5>Number Of Requests Per State</h5>
        <div>
            <canvas id="doughnutChartState"></canvas>
        </div>
      </div>
      <div class="hist-item">
        <h5>Number Of Requests Per Device</h5>
        <div>
            <canvas id="devicePieChart"></canvas>
        </div>
    </div>
    <div class="hist-item">
        <h5>Number Of Requests Per Brand</h5>
        <div>
            <canvas id="brandPieChart"></canvas>
        </div>
    </div>
    <div class="chart-container">
        <div class="hist-item">
            <h5>Number Of Requests Per Device Type</h5>
            <div style="width: 400px;">
                <canvas id="deviceTypeChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="hist-item">
            <h5>Number Of Requests Per Partner</h5>
            <div style="width: 400px;">
                <canvas id="partnerChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
	</div>
</div>
                </div>
            </div>
        </div>    
    </div>  
    <div class="row">
        <div class="col-md-11">
            <div class="tab-content profile-tab" id="myTabContent">
                <div *ngIf="activeTab === 'user'" class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <div class="hist">
                        <div class="hist-item">
                            <h5>Number Of Events By Event Name</h5>
                            <div style="width: 400px;">
                                <canvas id="analyticsChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th id="click-me">path</th>
                                        <th>Views</th>
                                        <th>Number of events</th>
                                        <th class="toggleDisplay">Engagement rate</th>
                                        <th class="toggleDisplay">Average time spent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let page of displayedPages; let i=index">
                                        <th scope="row">{{ i + 1 + pageSize * currentPage }}</th>
                                        <td><a [href]="page.dimensionValues">{{ page.dimensionValues }}</a></td>
                                        <td>{{ page.metricValue }}</td>
                                        <td>{{page.eventCount}}</td>
                                        <td class="toggleDisplay">{{ page.engagementRate | number: '1.2-2' }}</td>
                                        <td class="toggleDisplay">{{ page.averageSessionDuration | duration }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button [disabled]="currentPage == 0" (click)="prevPage()">Previous</button>
                            <button [disabled]="currentPage >= maxPage" (click)="nextPage()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>  
    <div class="row">
        <div class="col-md-11">
            <div class="tab-content profile-tab" id="myTabContent">
                <div *ngIf="activeTab === 'demo'" class="tab-pane fade show active" id="demo" role="tabpanel" aria-labelledby="demo-tab">
                    <div class="hist">
                        <div class="hist-item">
                            <h5>Number Of Sessions Per City</h5>
                            <div style="width: 400px;">
                                <canvas id="analyticsPieChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                        <div>
                            <h5>Number Of users Per City over time</h5>
                         <div style="width: 400px;">
                            <canvas id="cityTimeChart" width="300" height="300"></canvas>
                         </div>  
                        </div>
                        <div class="table-responsive col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>City</th>
                                        <th>Users</th>
                                        <th>New Users</th>
                                        <th>Engaged session</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of scroll; let i=index">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{s.dimensionValues}}</td>
                                        <td>{{s.metricValue }}</td>
                                        <td>{{s.newUsers}}</td>
                                        <td>{{s.engagedSessions }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                                                  
                    </div>    
                </div>
            </div>
        </div>    
    </div> 
</div>
