<section class="get-in-touch">
    <div class="title">
         <h1>Add Brand</h1>
     </div>
    <form #addForm="ngForm" class="contact-form row" (ngSubmit)="OnSave()">
       <div class="form-field col-lg-6">
          <input id="name" [(ngModel)]="brand.nameBrand" #name="ngModel" name="name" class="input-text js-input" 
          type="text" required maxlength="20" pattern="[a-zA-Z]+">
 
          <label class="label" for="name">Name</label>
 
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <div  *ngIf="name.errors && name.errors['required']">
              This field is required
            </div>
            <div *ngIf="name.errors && name.errors['pattern']">
              Name must be alphabetical
            </div>
          </div>
       </div>
       <div class="form-field col-lg-6">
 
         <input id="descBrand" [(ngModel)]="brand.descBrand" #descBrand="ngModel" class="input-text js-input" 
         type="text"  maxlength="255" required [ngModelOptions]="{standalone: true}">
 
         <label class="label" for="descBrand">Description</label>
 
         <div *ngIf="descBrand.invalid && (descBrand.dirty || descBrand.touched)" class="text-danger">
            <div  *ngIf="descBrand.errors && descBrand.errors['required']">
              This field is required
            </div>
         </div>
       </div>
       <div class="form-field col-lg-8">
        <label class="label" for="img" maxlength="2550">Logo</label>
          <div class="input-group">
              <div class="custom-file">
                  <input id="img" [(ngModel)]="brand.logoBrand" class="custom-file-input" type="file" required [ngModelOptions]="{standalone: true}" placeholder="Choose file">
                  <label class="custom-file-label" for="img">Choose file</label>
              </div>
          </div>
        </div>
        <div class="form-field col-lg-4">
          <button class="bn53">Upload</button>
       </div>
        <div class="form-field col-lg-12">
           <input class="bn13" type="submit" value="Save" [disabled]="addForm.invalid">
        </div>
     </form>
  </section>
  