<div class="password-container">
    <form #passwordForm="ngForm" class="my-form-password">
        <div class="login-welcome-row">
            <h1>Set your password</h1>
        </div>
        <div class="devider-password">
            <span class="devider-line"></span>
            <div class="devider-text">Forget Password</div>
            <span class="devider-line"></span>
        </div>
        <div class="text-feild">
            <label for="email">Write Your New Password:
                <input id="password" [(ngModel)]="password" #password1="ngModel" class="input-text js-input" type="password"  
                required [ngModelOptions]="{standalone: true}" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$">
            </label>
            <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="text-danger">
                <div  *ngIf="password1.errors && password1.errors['required']">
                  This field is required
                </div>
                <div *ngIf="password1.errors && password1.errors['pattern']">
                  password must contain at least 1 lowercase letter and 1 uppercase letter
                </div>
                <div *ngIf="password1.errors && password1.errors['minlength']">
                   password must contain at least 8 characters
                 </div>
            </div>
            <label for="email">Confirm Your New Password:
                <input id="password" [(ngModel)]="confirm" #password2="ngModel" class="input-text js-input" type="password"  
                required [ngModelOptions]="{standalone: true}" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$">
            </label>
        </div>
            <div class="my-form_signup">
                <a (click)="save()" title="Login">
                    Save
                </a>
            </div>
        <br>
    </form>
</div>