<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="dash-container">
    <div class="title">
        <h1>View Analyses</h1>
    </div>
    <div class="col-md-11">
        <div class="profile-head">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['./']" fragment="product" (click)="switchTab('product')" role="tab" [class.active]="activeTab === 'product'">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['./']" fragment="request" (click)="switchTab('request')" role="tab" [class.active]="activeTab === 'request'">Requests</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="tab-content profile-tab" id="myTabContent">
                <div *ngIf="activeTab === 'product'" class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Number Of Brands By<br> State</h5>
                            <br>
                            <div>
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Number Of Models By<br> State</h5>
                            <br>
                            <div>
                                <canvas id="doughnutChartModel"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Number Of Versions By State</h5>
                            <br>
                            <div>
                                <canvas id="doughnutChartVersion"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Number Of Devices By State</h5>
                            <br>
                            <div>
                                <canvas id="doughnutChartDevice"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Number Of Devices By Brand</h5>
                            <br>
                            <div>
                                <canvas id="deviceBrandChart"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Number Of Devices By Model</h5>
                            <br>
                            <div>
                                <canvas id="deviceModelChart"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h5>Number Of Devices By Device Type</h5>
                            <br>
                            <div>
                                <canvas id="chartDeviceType"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>  
    <div class="row">
        <div class="col-md-11">
            <div class="tab-content profile-tab" id="myTabContent">
                <div *ngIf="activeTab === 'request'" class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
                               <div class="col">
                                 <div class="card radius-10 border-start border-0 border-3 border-info">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <p class="mb-0 text-secondary">Total Orders</p>
                                                <h4 class="my-1 text-info">{{totalRequests}}</h4>
                                            </div>
                                            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                               </div>
                               <div class="col">
                                <div class="card radius-10 border-start border-0 border-3 border-danger">
                                   <div class="card-body">
                                       <div class="d-flex align-items-center">
                                           <div>
                                               <p class="mb-0 text-secondary">Total Revenue</p>
                                               <h4 class="my-1 text-danger">{{total | number: '1.2-2'}} DT</h4>
                                           </div>
                                           <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Number Of Requests By Brand</h5>
                                <br>
                                <div>
                                    <canvas id="pieBrand"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h5>Number Of Requests By Model</h5>
                                <br>
                                <div>
                                    <canvas id="pieModel"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h5>Number Of Requests By Version</h5>
                                <br>
                                <div>
                                    <canvas id="pieVersion"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h5>Number Of Requests By Device</h5>
                                <br>
                                <div>
                                    <canvas id="pieDevice"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h5>Number Of Requests By Device Type</h5>
                                <br>
                                <div>
                                    <canvas id="barDeviceType"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>    
    </div>  
</div>
