<section class="get-in-touch">
    <div class="title">
         <h1>Add Version</h1>
     </div>
    <form #addForm="ngForm" class="contact-form row" (ngSubmit)="OnSave()">
        <div class="form-field col-lg-6">
            <div class="select">
                <select  [(ngModel)]="brandSelected" [ngModelOptions]="{standalone: true}" id="brandSelected" (change)="onBrandSelected(brandSelected)">
                  <option *ngIf="brands==undefined" [value]="0" >no item found</option>
                    <option *ngFor="let brand of brands" [value]="brand.idBrand" >{{brand.nameBrand}}</option>
                </select>
            </div>
            <label class="label" for="brandSelected">Brand</label>
        </div>
        <div class="form-field col-lg-6">
            <div class="select">
                <select  [(ngModel)]="modelSelected" [ngModelOptions]="{standalone: true}" id="modelSelected">
                    <option *ngIf="models==undefined" [value]="0" >no item found</option>
                    <option *ngFor="let model of models" [value]="model.idModel" >{{model.nameModel}}</option>
                </select>
            </div>
            <label class="label" for="modelSelected">Model</label>
        </div>
        <div class="form-field col-lg-6">
          <div class="select">
              <select  [(ngModel)]="deviceTypeSelected" [ngModelOptions]="{standalone: true}" id="deviceTypeSelected" (change)="onDeviceTypeSelected(deviceTypeSelected)">
                  <option *ngIf="deviceTypes==undefined || deviceTypes.length==0" [value]="0" >no item found</option>
                  <option *ngFor="let deviceType of deviceTypes" [value]="deviceType.idType" >{{deviceType.nameType}}</option>
              </select>
          </div>
          <label class="label" for="deviceTypeSelected">Device Type</label>
      </div>
      <div *ngIf="deviceTypeSelected">
        <div class="form-field col-lg-6" *ngFor="let feature of features">
            <div class="selectLabel">{{ feature.nameFeature }}</div>
            <div class="select">
              <select [(ngModel)]="selectedValues[feature.idFeature]" [ngModelOptions]="{ standalone: true }" id="{{ feature.idFeature }}" (ngModelChange)="onFeaturesSelected($event, feature.idFeature)">
                <option *ngIf="!values[feature.idFeature] || values[feature.idFeature].length === 0" [value]="0">No items found</option>
                    <option *ngFor="let value of values[feature.idFeature]" [value]="value.value+' '+value.unit">{{ value.value }} {{value.unit}}</option>
                </select>
            </div>
        </div>
    </div>
        
        
       <div class="form-field col-lg-6">
          <input id="name" [(ngModel)]="version.nameVersion" #name="ngModel" name="name" class="input-text js-input" 
          type="text" required maxlength="50">
 
          <label class="label" for="name">Name</label>
 
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <div  *ngIf="name.errors && name.errors['required']">
              This field is required
            </div>
          </div>
       </div>
       <div class="form-field col-lg-6">
 
         <input id="descBrand" [(ngModel)]="version.descVersion" #descVersion="ngModel" class="input-text js-input" 
         type="text"  maxlength="255" required [ngModelOptions]="{standalone: true}">
 
         <label class="label" for="descBrand">Description</label>
 
         <div *ngIf="descVersion.invalid && (descVersion.dirty || descVersion.touched)" class="text-danger">
            <div  *ngIf="descVersion.errors && descVersion.errors['required']">
              This field is required
            </div>
         </div>
       </div>
       <div class="form-field col-lg-12">
        <label class="label" for="img" maxlength="2550">Image</label>
        <input id="img" [(ngModel)]="version.imgVersion" class="form-control form-control-lg" type="file" (change)="onFileSelected($event)" required [ngModelOptions]="{standalone: true}" placeholder="Choose file">
        </div>
        <div class="form-field col-lg-12">
           <input class="bn13" type="submit" value="Save" [disabled]="addForm.invalid">
        </div>
     </form>
  </section>
  